/*V tomto súbore definujte vlastnosti štýlov pre všetky stránky vášho statického blogu pre tlač.*/
/*Please, define here the style for all the pages of your static blog for printing.*/

    * {
        margin: 0;
        border-spacing: 0;
        padding: 0;
        box-sizing: border-box;
        text-align: left;
        color: black;
        background-color: white;
        /*border: solid;*/
    }

    html{
        font-family: 'Times New Roman', Times, serif;
        font-size: 12pt;
        color: black;
        background-color: white;
    }

    body, #grid-index-h1 ,header, h1, h2, h3 {
        color: black;
        background-color: white;
    }

    h1{
        animation: none;
    }

    p{
        margin-top: 1cm;
        margin-bottom: 1cm;
        text-align: left;
    }

    h1{
        font-size: 30pt;
        ;
    }

    h2{
        font-size: 24pt;
    }

    h3{
        font-size: 18pt;
    }

    /*index*/
    #indexbody {
        display: inline-block;
    }

    .smallpicture {
        width: 100%;
    }

    #printindex{
        margin-top: 5.5cm;
    }
    /*article1*/
    #article-body {
        display: inline-block;
    }

    table {
        width: 100%;
        margin-bottom: 0;
    }

    table, tr, th, td{
        border: solid black 1mm;
        font-size: 15pt;
    }

    caption {
        text-align: center;
        margin-bottom: 5mm;
        margin-top: 5cm;
    }

    #dlcs{
        font-size: 15pt;
        margin-left: 10cm;
    }

    #article1-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #article1-h2{
        margin-top: 6cm;
    }

    #article1-img{
        margin-left: 5%;
        width: 90%;
        margin-top: 10cm;
        margin-bottom: 2cm;
    }

    /*2-3*/
    #print-article2-img{
        margin-top: 7cm;
    }

    #article3-printimg{
        margin-top: 7cm;
    }

    /*all or some*/
    #footer, canvas, #Back, #citat, .hideatprint {
        display: none;
    }

    img{
        border: none;
    }

