/*V tomto súbore definujte vlastnosti štýlov pre všetky stránky vášho statického blogu pre zobrazenie na obrazovke.*/
/*Please, define here the style for all the pages of your static blog for displaying on screen.*/

        /*seetign up general seetings*/
*{
    margin: 0;
    border-spacing: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(34, 73, 40);

   /*border: solid black;*/
}

body{
    background-color: rgb(203, 247, 147);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.95;
}

#indexbody{
    display: grid;
    grid-template-columns: 10% auto 10%;
}

#article-body{
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
}

.grid-index{
    grid-column-start: 2;
}


h1, h2, h3{
    text-align: center;
    font-weight: bold;
}

h2{
    margin-top: 1%;
}

p{
    text-align: center;
    font-size: 1.3em;
}

a{
    text-decoration: none;
}

img {
    border: solid 2px rgb(34, 73, 40);
    margin-top: 1%;
}
                /*index.css*/

#indexcanvas {
    grid-column: 1 / 2;
    margin-top: 0;
}

#grid-index-h1{
    align-self: center;

}

.marginindex{
    margin-top: 1%;
}

#indexh2{
    margin-top: 1%;
}

.index1img{
    margin-top: 1%;
}

.smallpicture{
    width: 100%;
}

figure img {
    width: 100%;
}

#flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}


                /*************FORMULAR**********/
form{
    margin-top: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-upper3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1%;
}

#form-upper3 > div{
    margin-left: 1%;
}

form > div > *, form > div> div> * {
    font-size: 1.10em;
}

form > div > label, form > div> div> label{
    font-size: 1.3em;
}

.form_divs{
    text-align: center;
    margin-top: 0.5%;
    width: 100%;
}

input, textarea {
    padding-left: 0.20em;
    border: solid 2px rgb(34, 73, 40);
}

#label_textarea > label{
    vertical-align: top;
}

#radio1, #radio2{
    margin-right: 1%;
}

button{
    padding: 0.5%;
    margin-right: 1%;
}

:required{
    border: solid 4px rgb(34, 73, 40);
    font-weight: bold;
}

textarea:invalid, input:invalid{
    color: red;
}

    /*******************Mustache*******************/
#opinions{
    margin-top: 2%;
}

#usersComments > section{
    margin-top: 2%;
    width: 50%;
    margin-left: 25%;
    border:  solid 2px;
    padding: 1%;
}

#usersComments > section > *{
    text-align: left;
    margin: 0;
   /* border: solid;*/
}

#usersComments > section > a > img{
    width: 25%;
    float: right;
}

#mustache_last{
    font-weight: bold;
    font-size: 1.10em;
}
            /********* arcticle1.css************/

#article-h1{
    grid-column: 2/4;
}

#article-main{
    grid-column: 2/4;
}

#article1-img{
    width: 60%;
    margin-left: 20%;
}

#article1-flex{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.10em;
}

.article1-h2{
    font-size: 1.65em;
}

h3{
    text-align: left;
    margin-left: 15%;
}

table{
    border: solid 4px rgb(34, 73, 40);
    border-collapse: collapse;
    width: 20%;
}

tr, th, td{
    border: solid 4px rgb(34, 73, 40);
    padding-left: 1%;
}

caption {
    font-size: 1.25em;
}

tfoot{
    text-align: center;
}

ul{
    padding-left: 3%;
    padding-right: 10%;
    list-style-type: disc;
}


                        /*article1-3*/

#Back {
    grid-column-start: 1;
    text-decoration: none;
    font-size: 1.25em;

}

/*animation...*/

.link-transition:hover {
    background-color: rgb(34, 73, 40);
    color: white;
    transition-property: background-color, color;
    transition-duration: 500ms, 250ms;
    transition-timing-function: linear;
}

@keyframes anim {
    from{
        color: rgb(203, 247, 147);
    }
    to{
        color: rgb(34, 73, 40);
    }
}

h1{
    animation-name: anim;
    animation-duration: 3s;
}


                        /*footer part at the bottom of page*/
#footer{
    background-color: rgba(48, 46, 46, 0.555);
    background-size: cover;
    text-align: center;
    color: rgba(255, 255, 255, 0.616);
    padding: 2%;
    margin-top: 1%;
    grid-column: 1 / -1;
}

#mail{
    color: rgba(255, 255, 255, 0.616);
}

@media (max-width: 600px) and (min-resolution: 1.8dppx){

    *{
        /*border: solid;*/
    }

    #indexbody{
        grid-template-columns: 3% auto 3%;
        min-width: 60rem;
        max-width: 80rem;
        font-size: 2em;
    }

    .index1img{
        width: 100%;
    }

    #indexcanvas{
        grid-column-start: 2;
        justify-self: center;

        /*-ms-transform: rotate(180deg);*/
        transform: rotate(180deg);
    }

    #grid-index-h1{
        grid-row-start: 2;
    }

    #indexmain{
        grid-row-start: 3;
    }

    .index-footer{
        grid-row-start: 4;
    }

    #form-upper3{
        flex-direction: column;
        text-align: left;
    }

    #check_box_1, #radio1, #radio2, #radio3 {
        transform: scale(2.0);
    }

    #usersComments > section{
        width: 100%;
        margin: 0;
        margin-top: 1%;
    }

    #usersComments > section > img{
        min-width: 10rem;
    }

    /**/
    #article-body{
        display: grid;
        grid-template-columns: 1% auto 1%;
        min-width: 60rem;
        max-width: 80rem;
        font-size: 2em;
    }

    #article1-flex{
        flex-direction: column;
        align-items: center;
    }

    h3{
        margin-left: 0;
        text-align: center;
        font-size: 1.25em;
    }

    #article1-img{
        width: 100%;
        margin-left: 0;
    }

    ol{
        width: 50%;
        margin-left: 30%;
        margin-bottom: 1%;
        margin-top: 1%;
        font-size: 1.25em;
    }

    table{
        font-size: 1.25em;
    }
}


